/* 0 bodova*/
* {
  margin: 0;
  padding: 0;
}

/* 1 bod*/
li {
  display: inline-block;
  color: blue;
  padding: 1em 2em;
}

/*1 bod*/
header {
  background-color: #e8e8e8;
}

/* 11 bodova*/
.lista1 li {
  display: inline-block;
  color: blue;
  padding: 1em 2em;
}

/* 100 bodova*/
#lista2 {
  background-color: #a6a6a6;
  display: block;
}

/* 101 bodova*/
#lista2 ul {
  display: inline-block;
}

/* 10 bodova*/
.naziv {
  margin-left: 200px;
}

/*1 bod*/
p {
  background-color: lightblue;
  padding: 2em;
}

/*1 bod*/
a {
  text-decoration: none;
}

/*10 bodova */
a:hover {
  color: green;
}
